#body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */


/* Background page edtied  */

.modal-content {
    /* background-color: rgb(0, 195, 255); */
    /* background colour */
    /* background: lightblue url("img/discount.jpg") no-repeat fixed center; */
    /* background-image: url("./img/dis.png"); */
    /*  background="./img/dis.png" background-repeat: repeat-y;*/
    /* background-image: url="img/discount.jpg"; */
    /* background-image: url("img/discount.jpg"); */
    /* background-image: url("./img/dis.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #3fccf0;
    margin: 50px;
    padding: 20px;
    border: 1px solid rgb(53, 154, 194);
    border-radius: 10px;
    width: 30%;
}


/* Hover Modal-content */

.modal-content:hover {
    background-color: rgb(78, 216, 221);
}


/* img managements  and power of sources of data access */

.img {
    max-width: 100%;
    height: auto;
}


/* The Close Button */

.close {
    color: #f9fff5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#s {
    background-color: rgb(21, 255, 0);
    width: 250px;
    /* height: 50px; */
    text-justify: auto;
    color: rgb(255, 254, 252);
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(54, 183, 226);
}


/* Discounts Active Hover changes */

#s:hover {
    background-color: rgb(188, 78, 221);
}

#REA {
    /* color: rgb(21, 122, 139); */
    color: rgb(248, 248, 248);
    font-size: 20px;
}

#sc {
    /* color: rgb(21, 122, 139); */
    color: rgb(255, 246, 246);
    font-size: 20px;
}

#c {
    color: rgb(253, 253, 253);
    font-size: 20px;
}

#a {
    /* color: rgb(21, 122, 139); */
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/*  Hover  */

#REA:hover {
    color: rgb(253, 249, 7);
}

#sc:hover {
    color: rgb(238, 28, 28);
}

#c:hover {
    color: rgb(49, 28, 238);
}

#a:hover {
    color: rgb(234, 2, 255);
}


/* check button added into pass keybord */

#myBtn {
    color: rgb(253, 7, 7);
    background-color: rgb(147, 238, 28);
    border-radius: 7px;
    border-color: rgb(49, 28, 238);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* //check Discount hovers  */

#myBtn:hover {
    color: rgb(7, 134, 253);
    background-color: rgb(217, 238, 28);
    box-shadow: 0 8px 16px 0 rgba(238, 11, 11, 0.2), 0 6px 20px 0 rgba(245, 19, 19, 0.19);
}


/* img set positions  */


/* .container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.img {
    width: 100%;
    height: auto;
    opacity: 0.3;
} */